.main-section{
    margin-bottom: 50px;
}
i[type="button"] {
    cursor:pointer;
}
table tr :nth-last-child(1):not(i){
    width: 90px;
}
table thead,tbody {
    text-align: center;
}
#buttonSet button{
    padding: 15px;
    margin: 10px;
    font-variant: all-small-caps;
}
.material-icons{
    width: min-content;
}
